[%-	meta.wrapper          = 'site-wrapper.tt';
	meta.title            = page.title;
	meta.menu_selected    = page.name;
	head.meta_description = page.description;
%]

[% IF elements.image1.length %]
<img src="[% c.uri_for( '/static', upload_dir, 'images', elements.image1 ) %]" alt="[% meta.title %]" class="subpage-image">
[% END %]

<h2>
	[% elements.heading1 | html %]
</h2>

[%#  elements.body_md | html_para %]

[% USE MultiMarkdown; FILTER multimarkdown; elements.body_md ; END %]

